/.vs/

*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
*.VC.db
*.VC.VC.opendb

**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/
**/x64/
**/x86/

*.pdb
*.opendb
*.dbmdl
*.cache
*.log
*.tmp
*.bak
*.swp

/TestResults/
/artifacts/

*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
/packages/

*.pubxml
*.publishsettings
**/Properties/PublishProfiles/

.idea/
.vscode/
.Rider/
*.sln.iml
*.DotSettings.user

*.pfx
*.cer
*.p12
