@model PrestivaCars.Data.Data.Vehicles.Vehicle

@{
    ViewData["Title"] = "Add Vehicle";
}

<div class="card shadow-lg">
    <div class="card-body">
        <h4 class="mb-4">Add new vehicle</h4>

        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()

            @* @Html.Partial("_VehicleForm", Model) *@
            <partial name="_VehicleForm" model="Model" />

            <div class="mt-4" d-flex gap-2>
                <button type="submit" class="btn btn-success">Create</button>
                <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
