<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrestivaCars.Intranet</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PrestivaCars.Intranet.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand prestiva-brand me-4" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/content/appLogo/LogoV1Smaller.jpg" alt="PrestivaCars logo" class="prestiva-logo" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Vehicles
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Vehicles" asp-action="Index">All Vehicles</a></li>
                                <li><a class="dropdown-item" asp-controller="Vehicles" asp-action="Create">Add Vehicle</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="VehicleCategories" asp-action="Index">Categories</a></li>
                                <li><a class="dropdown-item" asp-controller="VehicleFeatures" asp-action="Index">Features</a></li>
                                <li><a class="dropdown-item" asp-controller="VehicleImages" asp-action="Index">Images</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Offers
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="VehicleOffers" asp-action="Index">All Offers</a></li>
                                <li><a class="dropdown-item" asp-controller="VehicleOffers" asp-action="Create">Add Offer</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="SavedOffers" asp-action="Index">Saved Offers</a></li>
                                <li><a class="dropdown-item" asp-controller="VehicleOfferFeatures" asp-action="Index">Offer Features</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Content
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Pages" asp-action="Index">Pages</a></li>
                                <li><a class="dropdown-item" asp-controller="Banners" asp-action="Index">Banners</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Users
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">All Users</a></li>
                                <li><a class="dropdown-item" href="#">Roles</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item text-danger" href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-grow-1">
        <div class="container pb-3">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top text-muted text-center py-3 mt-auto">
        <div class="container">
            &copy; 2026 - PrestivaCars Admin Panel
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/delete-modal.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>