@model PrestivaCars.Data.Data.Catalog.VehicleColour

<div class="row g-3">

    <div class="col-md-6">
        <label asp-for="ColourName" class="form-label"></label>
        <input asp-for="ColourName" class="form-control" placeholder="E.g. Red, green..." />
        <span asp-validation-for="ColourName" class="text-danger"></span>
    </div>

    <div class="col-md-4 d-flex align-items-end">
        <div class="form-check">
            <input asp-for="IsActive" class="form-check-input" />
            <label asp-for="IsActive" class="form-check-label"></label>
        </div>
    </div>

</div>