@model IEnumerable<PrestivaCars.Data.Data.CMS.Page>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link"
               asp-controller="Pages"
               asp-action="Details"
               asp-route-slug="@item.Slug">
               @item.LinkTitle
        </a>
    </li>
}